.mat-grid-list{
    padding: 6%;
    align-items: center;
    
}
mat-grid-tile{
    margin-left: 10px;
    margin-bottom: 10px;
}
.mat-grid-tile{
    border-radius: 30px;
    
    display: inline;
    position: absolute;
    padding: 5%;
    padding-top: 30%;
    top: 30%;
    width: 33%;
    text-align: center;
    background-color: rgba(230, 225, 225, 0.477)  ;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.mat-grid-tile p{
    margin-left: auto;
    margin-right: auto;
}
.item-name{
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
    line-height: 180%;
    color: black;
    font-weight: bold;
    margin-bottom: 10% !important;
}
.mat-grid-tile .item-price{
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
    color: deepskyblue  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    
}
.quantity-container{
  display:-webkit-inline-flex;
  margin-top: 0%;
  margin-bottom: 5%;
  justify-items: center;
  justify-content: space-between;
  
}
.quantity-container p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
    
}
.quantity-container button{
    background-color: black;
    color: white;
    border: none;
    height: 3%;
    border-radius: 10px;
    padding-right:5px ;
    padding-left: 5px;
    align-items: center;
}
img{
    box-shadow: 5px 5px 10px 5px grey;
    height: 110px;
    width:110px;
    position: relative;
    border-radius: 200px;
    left: 4%;
    bottom: 10%;

}



.price-order-container{
    display:-webkit-flex;
    align-items: baseline;
    justify-content: space-evenly;
    justify-items: flex-start;
}
.price-order-container button{
    background-color: skyblue;
    color: black;
    border-radius: 5px;
    padding: 5%;
    font-size: 70%;
    border: none;
}