
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
     
}
.container{
    border-radius: 10px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5%;
    padding-top: 10%;
    box-shadow: 2px 2px 10px 2px rgba(9, 9, 9, 0.267);
    text-align: center;
    background-color: rgba(190, 184, 184, 0.216)  ;
    font-family: 'Ubuntu', sans-serif;
  
}

.item-name{
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
    line-height: 180%;
    color: black;
    font-weight: bold;
    margin-bottom: 10% !important;
}


.quantity-container{
    display:-webkit-inline-flex;
    margin-top: 0%;
    margin-bottom: 5%;
    justify-items: center;
    justify-content: space-between;
    
  }
  .quantity-container p{
      font-family: 'Ubuntu', sans-serif;
      font-size: 100%;
      color: grey;
      margin-left: 10px;
      margin-right: 10px;
      
  }
  .quantity-container button{
      background-color: black;
      color: white;
      border: none;
      height: 3%;
      border-radius: 5px;
      padding-right:5px ;
      padding-left: 5px;
      align-items: center;
  }
 


 .item-price{
    font-size: 120%;
    color: deepskyblue  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    
}

img{
    box-shadow: 5px 5px 10px 5px grey;
    height: 130px;
    width:130px;
    position: relative;
    border-radius: 200px;
    bottom: 7%;
    right: 20%;
}



.price-order-container{
    display:-webkit-flex;
    align-items: baseline;
    justify-content: space-evenly;
    justify-items: flex-start;
}
.price-order-container button{
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
    padding: 5%;
    font-size: 100%;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}