.matChipList{
    display: inline;
    float:right;
    padding: 2%;
 

}
.mat-chip{
    color: white;
    margin: 1%;
    background-color: black;
}
.mat-chip selected{
    background-color: deepskyblue;
    color:black;
}



div .grid-container{
   margin-top: 30%;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    justify-content: center;
     
}
 div .container{
    border-radius: 10px;
     width: 90%;
     padding-top: 5%;
     padding-bottom: 5%;
     display: inline-block;
    padding-left: 20%;
    box-shadow: 2px 2px 30px 2px rgba(9, 9, 9, 0.267);
    text-align: center;
    background-color: rgba(186, 187, 189, 0.166)  ;
    font-family: 'Ubuntu', sans-serif;
  
}

.item-name{
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    line-height: 180%;
    background-image: linear-gradient(60deg, #3d3d40, deepskyblue);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10% !important;
}


.quantity-container{
    display:-webkit-inline-flex;
    margin-top: 0%;
    margin-bottom: 5%;
    justify-items: center;
    justify-content: space-between;
  }
  .quantity-container p{
      font-family: 'Ubuntu', sans-serif;
      font-size: 100%;
      color: grey;
      margin-left: 10px;
      margin-right: 10px;
      
  }
  .quantity-container button{
      background-color: black;
      color: white;
      border: none;
      height: 3%;
      border-radius: 5px;
      padding-right:5px ;
      padding-left: 5px;
      align-items: center;
  }
 


 .item-price{
    font-size: 120%;
    color: grey  ;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: bolder;
   
}





.price-order-container{
    display:inline-block;
    align-items: baseline;
    justify-content: space-evenly;
  
}
.price-order-container button{
    background-image:  linear-gradient(60deg, rgba(0, 191, 255, 0.488), deepskyblue);;
    color: white;
    border-radius: 5px;
    padding: 3%;
    padding-left: 6%;
    padding-right: 7%;
    font-size: 100%;
    width: 100%;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}