<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<div class="bill-container">
    <img src="../../assets/bill-icon.png" width="30px" height="30px"/>
    <div class="order-container">
   <p class="text">Order value </p>
   <p class="price">000/-</p>
   </div>
   <div class="buttons-container" >
            <button>Generate Bill</button>
            <button style="background-color: grey;">Ordered Items</button>
   </div>
</div>